/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPO */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

h1 {
    font-size: clamp(1rem, 11vh, 8rem);
    font-weight:800;
    margin-bottom: 50px;
}

h2 {
    font-size: clamp(1rem, 5.7vh, 8rem);
}

h4 {
    font-size: 1.2rem;
}

/* BUTTONS */

.btn {
    background-color: #0061ff; 
    color: #fff;
    padding: 10px 10px;
    border: none;
}

.btn-free {
    width:100%;
}

.btn-white {
    background-color: #fff; 
    padding: 10px 10px;
}

/* COMMON */

section {
    margin-bottom: 120px;
}

.text-right {
    text-align: right;
}

.container-big {
    max-width: 1200px;
    margin: auto;
}

.container-small {
    max-width: 1000px;
    margin: auto;
}

.row-wrap-spacebetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-33 {
    width: calc(100% / 3 - 40px);
}

.gray-border {
    border: 1px solid rgb(194, 194, 194);
}

li {
    list-style: none;
}

.listspaces {
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.col-small {
    width: 30%;
}

.col-big {
    width: 70%
}

.int-padding {
    padding: 30px
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #fff;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}

.link-nostyle {
    text-decoration: none;
    color: inherit;
}


.logo {
    margin-right: 10px;
}

.left-header, .right-header {
    width: 50%;
    align-items: center;
    display: flex;
}

.right-header {
    justify-content: flex-end;
}

.list-nav {
    display: flex;
}

.li-header-left, .li-header-right {
    margin: 0 20px;
}

 #business {
    margin-bottom: 40px;
 }

/* MAIN */

/* HERO SECTION 1 */

#hero {
    background: linear-gradient(#b4d0e7 89%, #b4d0e7 90%, #fff 90%, #fff 100%);
    padding-top: 140px;
    margin-bottom: 50px;
}

.relative {
    position: relative;
}

.jumbo {
    width:100%;
}

.btn-free {
    margin: 30px 0 30px 0;
}

.fa-arrow-down {
    font-size: 5vh;
    padding-top: 80px;
    margin-bottom: 50px;
}

/*  BUSINESS SECTION 2 */ 

#radio {
    display: inline-block;
    margin: 50px 50px 50px 0;
}

.plan {
    padding: 30px;
}

.plan-user {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

#buynow {
    margin-left: 5px;
    margin-bottom: 40px;
}

.list-plan {
    margin-bottom: 30px;
}

.fa-check {
    color: #0061ff;
}

.fa-solid {
    margin-top: 4.5px;
    margin-right: 5px;
}

/* ENTERPRISE SEZIONE 3 */

.contact-us {
    margin-bottom: 70px;
    /* AGGIUSTARE */
}

/* PARTNER-GETINTOUCH SECTION 4 */

.col100w {
    border: 1px solid rgb(194, 194, 194);
}

#partner-getintouch img {
    width: 100%;
}

/*  OPERATION-PLANS SECTION SECTION 5 */

.imageb {
    width: 100%;
}

/* MANY-TEAMS 6 */

/* TEAMS-USING SECTION 7 */

.big-box {
    position: relative;
    width: calc(100% / 3);
}

.big-box::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.big-box-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.box img {
    width: 50%;
    filter: invert(91%) sepia(64%) saturate(0%) hue-rotate(229deg) brightness(102%) contrast(101%);
}

.box {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-central img {
    width: 50%;
    margin-bottom: 70px;
}

.box-central{
    padding: 50px;
}

.green {
    background-color: #a2d39b;
    box-shadow: inset 0px 0px 0px 10px #d1e9cd;
}

.purple {
    background-color: #61082b;
}

.azure {
    background-color: #0093ce;
}

.red {
    background-color: #ff1c1c;
}

.red2 {
    background-color: #d5001f;
}

.heavenly {
    background-color: #b4d0e7;
}

.blue {
    background-color: #0d2481;
}

.yellow {

    background-color: #ffd830;
}

/* YOUR-BUSINESS SECTION 8 */

#your-business {
    background-color: #b4d0e7;
}

#your-business .col-big {
    padding: 80px 0px;
}

#your-business .col-small {
    padding: 80px 0px;
}

#your-business .btn-white {
    border: none;
}

#your-business h2 {
    color: #61082b;
}

/* FAQ SECTION 9 */

div.row.borders {
    width: 100%;
}

.borders {
    border:1px solid rgb(194, 194, 194);
    border-left: none;
    border-right: none;    
}

div.row.borders:nth-child(3) {
    border:none;
}

.btn-faq{
    padding: 40px 0;
    background-color: #fff;
    border:none;
}

.btn-faq:nth-child(2) {
    border:none;
}

#faq .col-small {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

footer li {
    font-weight: 300;
}

footer .row{
    padding: 40px 0;
    width:(100% / 5);
    justify-content: space-between;
}

.list-foot:first-child {
    padding-bottom: 80px;
    border-bottom: 1px solid white;
}

.appendx {
    color: gray;
    padding-bottom: 20px;
}
